@charset "utf-8";

/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
h1, h2, h3, h4, h5, h6, strong {
	font-family: 'Ubuntu', sans-serif;
}
a, a:hover, a:focus, a:active {
	outline: 0 none
}
.navbar {
	margin-bottom: 20px;
}
.navbar-default {
	background-image: none;
	background-color: #fff;
	border: none;
	border-radius:0;
	box-shadow: none;
	padding-top: 20px;
	border-top: 5px solid #167ac6;
}
.navbar-default .navbar-nav > li > a {
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background: transparent;
	border-bottom: 3px solid #167ac6;
	color: #167ac6;
	font-weight: 600
}
.slider-section, .sponser-page, .about-page, .running-project-page, .past-project-page, .upcoming-project-page, .earthquake-page, .news-page, .gallery-page, .contact-page {
	/*margin-top: 125px;*/
}
.slider-section #carousel-example-generic {
	/*width: 104% !important;*/
}
.slider-section #carousel-example-generic img {
	height: 382px;
	width: 100%;
}
.index-latest {
	background-color: #999;
}
.index-event i {
	font-size: 12px;
	color: #A70E13;
	text-decoration: none !important;
}
.carousel-caption {
background-color: rgb(65, 112, 164);
padding: 10px;
text-align: justify;
height:auto;
top:auto;
bottom:0;
left:0;
right:0;
width:auto
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #167ac6;
    border-color: #ddd;
    padding: 8px 15px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 1px 1px 1px #333;
    font-size: 17px;
	border-radius:0
}
.sponser img {
	margin: 0 auto;
	width: 52%;
	max-height: 150px;
}
.helping-nepal, .hospital {
	border: 1px solid #DDD;
	padding: 10px;
	margin-bottom: 20px;
}
.helping-nepal img, .hospital img, .adsense img {
	width: 100%;
	max-height: 300px;
}
.hospital {
	margin-top: 10px;
}
.news-page h3, .earthquake-page h3 {
	text-align: center;
}
.news-page h4, .running-project-page h4, .upcoming-project-page h4, .past-project-page h4, .earthquake-page h4 {
	color: #a03c3c;
	text-decoration: underline;
}
.news-page p, .running-project-page p, .upcoming-project-page p, .past-project-page p, .earthquake-page p {
	text-align: justify;
}
.news-page .btn-info, .running-project-page .btn-info, .upcoming-project-page .btn-info, .past-project-page .btn-info, .earthquake-page .btn-info {
	padding: 10px;
	border-radius: 5px;
}
.news-page p i, .running-project-page p i, .upcoming-project-page p i, .past-project-page p i, .earthquake-page p i {
	color: #a03c3c;
}
.news-page .mb-20, .running-project-page .mb-20, .upcoming-project-page .mb-20, .past-project-page .mb-20, .earthquake-page .mb-20 {
	border-bottom: 3px dashed rgba(160, 60, 60, 0.15);
	padding-bottom: 10px;
}
.html5gallery {
	display: none;
	margin: 0 auto;
	width: 100% !important;
}
.about-page td img {
	width: 100px;
	height: auto;
}
.running-project-page h3, .upcoming-project-page h3, .past-project-page h3 {
	text-align: center;
}
.running-project-page img, .upcoming-project-page img, .past-project-page img, .earthquake-page img, .news-page img {
	width: 100%;
	height: auto;
}
.b-20 {
	margin-bottom: 20px;
}
footer .fa {
	margin-left: 5px;
}
.fa-facebook {
	color: #3B5998;
}
.fa-twitter {
	color: #00BCF6;
}
.fa-google-plus {
	color: #F2301C;
}
.fa-facebook, .fa-twitter, .fa-google-plus {
	opacity: 0.6;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus:hover {
	opacity: 1;
}
.news-item img, .interview-item img {
	margin-right: 10px;
}
.mb-20 {
	margin-top: 20px;
}
.glyphicon {
	margin-right: 4px !important; /*override*/
}
.pagination {
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.25rem;
}

.pagination li{
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination li.active {
	background-color:  #F05F40 !important;
	color: white !important;
	border: 1px solid #F05F40 !important;
}



.pagination li:hover:not(.active) {background-color: #ddd;}
.panel ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.news-item {
padding: 0 0 7px 0;
margin: 0 0 7px 0;
border-bottom: 1px dotted #555;
}
.events-item {
	padding: 4px 4px;
	margin: 0px;
	border-bottom: 1px solid #EDEDED;
}
.gallery-page h3 {
	text-align: center;
}
.gallery-page img {
	width: 100%;
	height: 150px;
}
.gallery-page figcaption {
	background-color: rgba(147, 147, 147, 0.15);
	padding: 10px;
	margin-bottom: 20px;
}
footer {
	height: 66px;
	color: #fff;
	background-color: rgb(22, 122, 198);
	border-top:5px solid #0064b0;
	text-align: center;
	padding-top: 25px;
	margin-top: 20px;
}
.carousel-caption {
	left: 0%;
	bottom: 0px;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
}
 @media (max-width:991px) and (min-width:768px) {
.news-item {
	height: 230px;
}
}
 @media (max-width:1200px) and (min-width:991px) {
.news-item {
	height: 177px;
}
}
 @media (min-width:768px) {
.carousel-caption {
	right: 0%;
	left: 0%;
	font-size: 14px;
	overflow: hidden;
}
}
 @media (max-width:768px) {
.carousel-caption {
	right: 0%;
	left: 70%;
	height: 100%;
	font-size: 14px;
	overflow: hidden;
}
.index-latest-news img {
	width: 125%;
}
}
 @media (max-width:480px) {
.html5gallery a {
	width: 200px !important;
}
}
.html5gallery-car-0 {
	top: 0px !important;
}
.html5gallery-box-0 {
	margin-top: 100px !important;
	width: 100% !important;
	height: 272px;
}
.index-latest-news .news-item h4 {
	margin-top: 0;
}
.index-latest-news h4, .index-event h4 {
	color: #a03c3c;
	border-bottom: 1px solid #a03c3c;
	font-size: 16px;
	margin-bottom:5px;
}
.index-latest-news a:hover, .index-event a:hover {
	color: #a03c3c;
}
.index-latest-news img {
/*	width: 186%;*/
	margin-left: -15px;
}
.index-latest-news span, .index-event span {
	color: #53a1ba;
	display: block;
	font-size: 11px;
	text-align:right
}
.index-latest-news p {
	font-size: 12px;
}
.index-latest-news p, .index-event p {
	text-align: justify;
}
.events-item img {
	width: 100%;
}
/* share css*/

.social-share span {
	display: inline-block;
}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
	height: 25px !important;
}
.stButton .stHBubble {
	height: 23px !important;
}


li span.slider{
    display:none;
}

.donate_blood {
    background: #F2F2F2 none repeat scroll 0% 0%;
    padding: 30px 0px;
    border-width: 2px medium 2px 2px;
    border-style: solid none solid solid;
    border-color: #BABABA;
    border-radius: 5px 0px 0px 5px;
    position: fixed;
    top: 35%;
    right: 0px;
}